<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangk.news.login.dao.UserInfoDao">


    <select id="findAdminByName"
            resultType="UmsAdmin">
		select * from ums_admin where username=#{username}
		</select>

    <update id="UpdateAdmin" parameterType="com.yangk.news.login.pojo.UserInfo">
		update ums_admin SET email=#{email},nick_name=#{nick_name},note=#{note},status=#{status} where id=#{id}
		</update>

    <update id="UpdatePassword" parameterType="com.yangk.news.login.pojo.PasswordPojo">
		update ums_admin SET password=#{newPassword} where username=#{username}
		</update>
	<update id="UpdateIcon" parameterType="com.yangk.news.login.pojo.IconInfo">
		update ums_admin SET icon=#{path} where username=#{username}
		</update>
	<select id="findMemberByName"
			resultType="UmsMember">
		select * from ums_member where username=#{username}
		</select>
</mapper>